.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper__img {
  width: 50%;
  height: auto;
}
.swiper__modal {
  width: 100%;
  height: auto;
}
.swiper__img2 {
  width: 100%;
  border-radius: 10px;
}
.product__wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.product__wrapper a {
  width: 45%;
  height: auto;
}
.price__sale {
  text-decoration: line-through;
  font-size: 20px;
}
.price__default {
  color: red;
  font-weight: 700;
  font-size: 25px;
}
.price__discounted {
  color: red;
  font-weight: 700;
  font-size: 25px;
}
.swiper_slide {
  max-height: 500px !important;
}
.slider__modal {
  max-height: 500px !important;
}
.product_description {
  width: 40%;
}
.product__article {
  font-size: 14px;
  font-style: italic;
}
.product__description {
  font-size: 18px;
}
.price__wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 425px) {
  .product__wrapper {
    flex-direction: column;
  }
  .swiper__img {
    width: 100%;
  }
  .product_description {
    width: 100%;
  }
}
