.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.mainContainer {
  padding-top: 30px;
  flex-grow: 1;
}

.personalData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.btnControls {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.changePasswordContainer {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .personalData {
    grid-template-columns: 1fr;
  }
}
