:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f1ea;
}

#root {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  box-sizing: border-box;
}
